.secret-viewer {
  .display-secret {
    padding: 4px 10px;
    font-family: monospace;
    background-color: #eeeeee;
    border: 1px solid #bbbbbb;
  }
  .secret-reveal-at {
    font-size: 40px;
    font-weight: bolder;
  }
}